* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
textarea {
  border: 0;
}

body {
  background: #22212c;
  font-size: 24px;
  font-family: Merriweather Sans;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/*////// Perfil //////*/

#container {
  width: 360px;
  /* border: 1px solid rgb(255, 0, 0); */
  border-radius: 2%;
  margin: 20px;
}

#profile {
  text-align: center;
  padding: 24px;
  border-radius: 20px;
  background: #302f3d;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#profile img {
  width: 128px;
  height: 128px;
  flex-shrink: 0;
}

#profile h4 {
  color: #837e9f;
  font-size: 23px;
  font-family: Merriweather Sans;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 20px;
}

#profile p {
  color: #837e9f;
  font-size: 13px;
  font-family: Merriweather Sans;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 10px;
  padding-bottom: 19px;
}

/*////// Informações //////*/

#container2 {
  width: 360px;
  /* border: 1px solid rgb(255, 0, 0); */
  margin: 0;
  border-radius: 2%;
  padding-top: 20px;
}

#info {
  text-align: left;
  border-radius: 20px;
  background: #302f3d;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

#info p {
  color: #837e9f;
  font-size: 17px;
  font-family: Merriweather Sans;
  font-style: normal;
  font-weight: 400;
  line-height: large;
  padding-top: 10px;
  margin-left: 15px;
  padding-bottom: 29px;
}

.bi-pin-map-fill {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  padding: 7px;
  color: #837e9f;
}

.bi-briefcase {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  padding: 7px;
  color: #837e9f;
}

.bi-github {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  padding: 7px;
  color: #837e9f;
}

.bi-instagram {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  padding: 7px;
  color: #837e9f;
}

.bi-envelope {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  padding: 7px;
  color: #837e9f;
}

/*////// Tecnologias //////*/

#container3 {
  width: 360px;
  /* border: 1px solid rgb(255, 0, 0); */
  border-radius: 2%;
  padding-top: 20px;
}

#technologies {
  text-align: center;
  border-radius: 20px;
  background: #302f3d;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

#technologies button {
  width: 86px;
  height: 24px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #cb92b1;
  color: #000;
  text-align: center;
  font-size: 10px;
  font-family: Merriweather Sans;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 15px;
}

#technologies .title {
  display: flex;
  width: 121px;
  height: 26px;
  color: #837e9f;
  font-size: 20px;
  font-family: Merriweather Sans;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 15px;
  margin-left: 7px;
}

/*////// Experiências //////*/

#container4 {
  width: 360px;
  /* border: 1px solid rgb(255, 0, 0); */
  border-radius: 2%;
  padding-top: 20px;
}

#exp {
  text-align: left;
  border-radius: 20px;
  background: #302f3d;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

#exp p {
  color: #837e9f;
  font-size: 17px;
  font-family: Merriweather Sans;
  font-style: normal;
  font-weight: 400;
  line-height: large;
  padding-top: 10px;
  margin-left: 15px;
  padding-bottom: 9px;
}

#exp h4 {
  color: #837e9f;
  font-size: 17px;
  font-family: Merriweather Sans;
  font-style: normal;
  font-weight: 400;
  line-height: large;
  margin-left: 46px;
  padding-bottom: 20px;
}

#exp h3 {
  color: #837e9f;
  font-size: 17px;
  font-family: Merriweather Sans;
  font-style: normal;
  font-weight: 200;
  line-height: large;
  margin-left: 46px;
  padding-bottom: 5px;
}

#exp .title {
  display: flex;
  width: 121px;
  height: 26px;
  color: #837e9f;
  font-size: 20px;
  font-family: Merriweather Sans;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 15px;
  margin-left: 7px;
}

.bi-caret-right-fill {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  padding: 7px;
  color: #837e9f;
}

/*////// Educação //////*/

#container5 {
  width: 360px;
  /* border: 1px solid rgb(255, 0, 0); */
  border-radius: 2%;
  padding-top: 20px;
}

#education {
  text-align: left;
  border-radius: 20px;
  background: #302f3d;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

#education p {
  color: #837e9f;
  font-size: 17px;
  font-family: Merriweather Sans;
  font-style: normal;
  font-weight: 400;
  line-height: large;
  padding-top: 10px;
  margin-left: 15px;
  padding-bottom: 9px;
}

#education h4 {
  color: #837e9f;
  font-size: 17px;
  font-family: Merriweather Sans;
  font-style: normal;
  font-weight: 400;
  line-height: large;
  margin-left: 46px;
  padding-bottom: 20px;
}

#education h3 {
  color: #837e9f;
  font-size: 17px;
  font-family: Merriweather Sans;
  font-style: normal;
  font-weight: 200;
  line-height: large;
  margin-left: 46px;
  padding-bottom: 5px;
}

#education .title {
  display: flex;
  width: 121px;
  height: 26px;
  color: #837e9f;
  font-size: 20px;
  font-family: Merriweather Sans;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 15px;
  margin-left: 7px;
}

.bi-caret-right-fill {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  padding: 7px;
  color: #837e9f;
}

/*////// My Projects //////*/

#container6 {
  width: 360px;
  /* border: 1px solid rgb(255, 0, 0); */
  border-radius: 2%;
  padding-top: 20px;
}

#projects {
  border-radius: 20px;
  background: #302f3d;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
